<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/app.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="game-container text-white flex flex-col items-center">

        <div class="player-name inline" id="white-player"></div>
        <div class="timer inline" id="black-timer"></div>
        <div class="chessboard bg-red-400"></div>
        <div class="player-name inline" id="black-player"></div>
        <div class="timer inline" id="white-timer"></div>

    </div>
    <div id="winner-message"></div>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
        integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
        integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/chessGame.js"></script>
</body>

</html>