body {
  background-color: #0d1117;
}

.container {
  display: flex;
  justify-content: space-between;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chessboard-container {
  position: relative;
  width: 400px;
  height: 400px;
}

.player-name {
  font-size: 24px;
  margin: 10px 0;
  text-align: center;
  width: 100%;
}

#white-player {
  align-self: flex-start;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
  width: 550px;
  height: 550px;
  transform: rotate(0deg);
}

.piece.white {
  color: white !important;
  filter: drop-shadow(0 0 10px rgb(32, 32, 32));
  background-color: transparent;
}

.piece.black {
  color: black !important;
}

.flipped {
  transform: rotate(180deg);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square.light {
  background-color: #cbd5e0;
}

.square.dark {
  background-color: #75abbc;
}

.piece {
  font-size: 50px;
  cursor: pointer;
  font-family: "Arial", "Helvetica", sans-serif;
}

.dragging {
  opacity: 0.5;
}

.flipped .piece {
  transform: rotate(180deg);
}

.piece[draggable="true"] {
  cursor: grab;
}

.legal-move-dot {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 0, 0, 0.188);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square {
  position: relative;
}

.square.in-check {
  background-color: rgba(255, 0, 0, 0.113);
}

#winner-message {
  font-size: 24px;
  color: green;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
